<div class="container-fluid">
  <div class="container">
    <div class="row align-items-center" id="header">
      <div class="col">
        <h1>Frotas</h1>
      </div>
      <div class="col text-end" id="button-header">
        <button class="btn btn-dark">Novo Veiculo</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-muted">Frotas em espera</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Status</th>
              <th scope="col">Qtd. assentos</th>
              <th scope="col">Modelo</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of availableVehicles">
              <td>{{vehicle?.type}}</td>
              <td>{{vehicle?.status}}</td>
              <td>{{vehicle?.seatQuantity}}</td>
              <td>{{vehicle?.model}}</td>
              <td>
                <div class="text-center"> 
                  <button class="btn btn-outline-dark btn-sm btn-table"><i class="fa-solid fa-eye"></i></button>
                  <button class="btn btn-outline-dark btn-sm btn-table"><i class="fa-solid fa-pen"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col">
        <h3 class="text-muted">Frotas em uso</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Status</th>
              <th scope="col">Qtd. assentos</th>
              <th scope="col">Modelo</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of unavailableVehicles">
              <td>{{vehicle?.type}}</td>
              <td>{{vehicle?.status}}</td>
              <td>{{vehicle?.seatQuantity}}</td>
              <td>{{vehicle?.model}}</td>
              <td>
                <div class="text-center"> 
                  <button class="btn btn-outline-dark btn-sm btn-table"><i class="fa-solid fa-eye"></i></button>
                  <button class="btn btn-outline-dark btn-sm btn-table"><i class="fa-solid fa-pen"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
