<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="navbar">
    <div class="container-fluid">

        <a class="navbar-brand"><i class="fa-solid fa-bus brand-icon"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"  id="navbar-menu">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/vehicles">Frotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/routes">Rotas</a>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto mb-2 mb-sm-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>