h1 {
  padding: 1.5em 0;
}

label {
  font-weight: bold;
  padding: 4% 0 1% 0;
}

#button-group {
  padding-top: 3em;
}

.btn {
  margin: 0 0.5%;
}

.container {
  padding: 2em;
}

.alert {
  margin-top: 1%;
  padding: 1%;
}
